<table *ngIf='employee'>
	<thead>
		<tr>
			<th colspan=2>
				Employee Details
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Emp Code</td>
			<td>{{employee.code}}</td>
		</tr>
		<tr>
			<td>First Name</td>
			<td>{{employee.name}}</td>
		</tr>
		<tr>
			<td>Gender</td>
			<td>{{employee.gender}}</td>
		</tr>
		<tr>
			<td>Annual Salary</td>
			<td>{{employee.annualsalary}}</td>
		</tr>
		<tr>
			<td>Date of Birth</td>
			<td>{{employee.dateOfBirth}}</td>
		</tr>
</table>
<div *ngIf="!employee">
	{{statusMessage}}
</div>
<div style="margin-top:5px">
	<input type="button" class ="btn btn-primary" (click)="onBackButtonclick()" value="Back to employees List"/>
</div>